body
{
 background: url('images/bg.jpg');   
 margin:0;
}

header
{
 width:100%;
 background: #e6ae24;
 height: 40px;
 line-height: 15px;
 position: absolute;
}

.hangingPattern
{
  background: url('images/hanging.png') repeat-x bottom;
  width:100%;
  height: 19px;
  margin-top:-6px;
}