/* app css stylesheet */

body
{
    background: url('../img/bg.jpg');   
    margin:0;
    padding: 0;
    font-family: ralewaybold;
}

.hangingPattern
{
  background: url('../img/hanging.png') repeat-x bottom;
  width:100%;
  height: 19px;
  padding-top: 72px;
}

.navbar-custom
{
    background-color: #e6ae24;
}

.navbar-nav > li a
{
    color: maroon !important;
    font-weight:bolder;
}

.navbar-nav > li a:hover
{
    color:white !important;
    background-color: maroon !important; 
}

.container > .central
{
    background-color: rgba(54, 1, 1, 0.5);
    border: rgba(230, 174, 36,0.5) 1px solid;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 30px #292929;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    color: #e6ae24;
}

.centered
{
    text-align: center;
}

/** Media Queries */

@media (min-width: 768px) {
    .navbar-nav
    {
        float: none !important;
        width: 720px;
        margin: 0 auto !important;
    }
}


/* Custom Fonts */


@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arizoniaregular';
    src: url('fonts/arizonia-regular-webfont.eot');
    src: url('fonts/arizonia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arizonia-regular-webfont.woff') format('woff'),
         url('fonts/arizonia-regular-webfont.ttf') format('truetype'),
         url('fonts/arizonia-regular-webfont.svg#arizoniaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}