<h2>Events</h2>
<p>
  <div class="table-responsive table-condensed">
      <table class="table">
        <thead>
            <tr>
                <th class="col-md-3 col-sm-4">Event Name</th>
                <th class="col-md-3 col-sm-4">Date & Time</th>
                <th>Venue (In Amritsar, Punjab)</th>
            </tr>  
        </thead>
        <tbody>
            <tr>
                <td>Bangle Ceremony</td>
                <td>9th August 2014<br>from 7:00 PM</td>
                <td>Hotel Ritz, Mall Road </td>
            </tr>
            <tr>
                <td>Amritvani Path</td>
                <td>15th August 2014<br>from 7:00 PM</td>
                <td>14-D, Lane 2 Dayanand Nagar </td>
            </tr>
            <tr>
                <td>Mehandi & Sangeet</td>
                <td>5th September 2014<br>from 7:00 PM</td>
                <td>Hotel 42, Mall Road (Groom's Side)<br>
                    Hari Nikunj, Mall Road (Bride's Side)
                </td>
            </tr>
            <tr>
                <td>Pre-Wedding Party</td>
                <td>6th September 2014<br>from 8:30 PM</td>
                <td>Festyn Era Resorts, GT Road</td>
            </tr>
            <tr>
                <td>Sehra Bandi</td>
                <td>7th September 2014<br>from 11:30 AM</td>
                <td>Hotel 42, Mall Road</td>
            </tr>
            <tr>
                <td>Marriage Ceremony</td>
                <td>7th September 2014<br>from 12:30 PM</td>
                <td>Festyn Era Resorts, GT Road</td>
            </tr>
        </tbody>
      </table>
    </div>
</p>
