<h2>Family & Friends</h2>
<div class="row familyPics">
 <h5>Groom's Side</h5>
    <div class="row">
      <div class="col-md-3 column">
        <img src="http://www.mycomeup.com/sites/all/themes/mcu/images/user_blank.png" class="img-rounded"><br>
        <p>Banarsi Das Khanna,<br>
          Grandfather</p>
      </div>
    </div>
 <h5>Bride's Side</h5>
    <div class="row">
      <div class="col-md-3 column">
        <img src="http://www.mycomeup.com/sites/all/themes/mcu/images/user_blank.png" class="img-rounded"><br>
        <p>Banarsi Das Khanna,<br>
          Grandfather</p>
      </div>
    </div>
 <h5>Friends</h5>
    <div class="row">
      <div class="col-md-3 column">
        <img src="http://www.mycomeup.com/sites/all/themes/mcu/images/user_blank.png" class="img-rounded"><br>
        <p>Banarsi Das Khanna,<br>
          Grandfather</p>
      </div>
    </div>
</div>
