<h2>Gallery</h2>
<div class="galleria">
    <img src="img/gal/gallery-1.jpg">
    <img src="img/gal/gallery-2.jpg">
    <img src="img/gal/gallery-4.jpg">
    <img src="img/gal/gallery-5.jpg">
    <img src="img/gal/gallery-6.jpg">
    <img src="img/gal/gallery-7.jpg">
    <img src="img/gal/gallery-8.jpg">
    <img src="img/gal/gallery-9.jpg">
    <img src="img/gal/gallery-10.jpg">
    <img src="img/gal/gallery-11.jpg">
    <img src="img/gal/gallery-12.jpg">
    <img src="img/gal/gallery-13.jpg">
    <img src="img/gal/gallery-14.jpg">
    <img src="img/gal/gallery-15.jpg">
    <img src="img/gal/venue-1.jpg">
    <img src="img/gal/venue-2.jpg">
    <img src="img/gal/venue-3.jpg">
</div>
<br><br>